PORT=8000
MONGO_URI=mongodb+srv://username:password@cluster-url/db-name
MONGO_DB_NAME=hr
JWT_SECRET=change-this-in-production
GCS_BUCKET_NAME=your-bucket-name
GCS_PROJECT_ID=your-project-id
GCS_CLIENT_EMAIL=your-service-account-email
GCS_PRIVATE_KEY_ID=your-private-key-id
GCS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
